<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mydemo"
    tools:ignore="Instantiatable">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config_debug"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".blog2.Case71"></activity>
        <activity android:name=".blog2.Case70" />
        <activity android:name=".blog2.Case69" />
        <activity android:name=".activity.Case68Other" />
        <activity android:name=".blog2.Case68" />
        <activity android:name=".activity.Case67Other" />
        <activity android:name=".blog2.Case67" />
        <activity android:name=".blog2.Case66" />
        <activity android:name=".blog2.Case65" />
        <activity android:name=".blog2.Case64" />
        <activity android:name=".blog2.Case63" />
        <activity android:name=".blog2.Case62" />
        <activity android:name=".blog2.Case61" />
        <activity android:name=".blog.Case60" />
        <activity android:name=".blog.Case59" />
        <activity android:name=".blog.Case58" />
        <activity android:name=".blog.Case57" />
        <activity android:name=".blog.Case56" />
        <activity android:name=".blog.Case55" />
        <activity android:name=".blog.Case54" />
        <activity android:name=".blog.Case53" />
        <activity android:name=".blog.Case52" />
        <activity android:name=".blog.Case51" />
        <activity android:name=".blog.Case50" />
        <activity android:name=".blog.Case49" /> <!-- 闪屏页 -->
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/entrance_LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 登陆页 -->
        <activity android:name=".activity.LoginActivity" /> <!-- 主页面 -->
        <activity android:name=".activity.MainActivity" /> <!-- 功能页面 -->
        <activity android:name=".blog.Case47" />
        <activity android:name=".blog.Case46" />
        <activity android:name=".activity.WeChat1" />
        <activity android:name=".activity.algorithm1" />
        <activity android:name=".activity.ActivityC" />
        <activity android:name=".activity.ActivityB" />
        <activity android:name=".blog.Case45" />
        <activity android:name=".blog.Case44" />
        <activity android:name=".blog.Case43" />
        <activity android:name=".blog.Case42" />
        <activity android:name=".blog.Case41" />
        <activity android:name=".blog.Case40" />
        <activity android:name=".blog.Case39" />
        <activity android:name=".blog.Case38" />
        <activity android:name=".blog.Case37" />
        <activity android:name=".blog.Case36" />
        <activity android:name=".blog.Case35" />
        <activity android:name=".blog.Case34" />
        <activity android:name=".blog.Case33" />
        <activity android:name=".blog.Case32" />
        <activity android:name=".blog.Case31" />
        <activity
            android:name=".show.Case30"
            android:configChanges="orientation|keyboard|layoutDirection|screenSize">

            <!-- activity横竖屏切换 -->
        </activity>
        <activity android:name=".show.Case29" />
        <activity android:name=".show.Case28" />
        <activity android:name=".show.Case27" />
        <activity android:name=".show.Case26" />
        <activity android:name=".show.Case25" />
        <activity android:name=".show.Case24">

            <!-- &lt;!&ndash; 调用系统相册 &ndash;&gt; -->
            <!-- <intent-filter> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity> <!-- 为调用相机拍照设置内容提供者 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.mydemo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".show.Case23" />
        <activity android:name=".show.Case22" />
        <activity android:name=".show.Case21" />
        <activity android:name=".show.Case19" />
        <activity android:name=".show.Case18" />
        <activity android:name=".show.Case17" />
        <activity android:name=".show.Case16" />
        <activity android:name=".show.Case20" />
        <activity android:name=".show.Case15" />
        <activity android:name=".fragment.HotRecommendFragment" />
        <activity android:name=".fragment.HotCollectionFragment" />
        <activity android:name=".show.Case14" />
        <activity android:name=".show.Case13" />
        <activity android:name=".show.Case12" />
        <activity android:name=".show.Case11" />
        <activity android:name=".show.Case10" />
        <activity android:name=".show.Case9" />
        <activity android:name=".show.Case8" />
        <activity android:name=".show.Case7" />
        <activity android:name=".show.Case6" />
        <activity android:name=".show.Case5" />
        <activity android:name=".show.Case4" />
        <activity android:name=".show.Case3" />
        <activity android:name=".show.Case2" />
        <activity android:name=".show.Case1" />
    </application>

</manifest>